.play {
  position: absolute;
  left: 128px;
  top: 59px;
  font-size: 73px;
}

.miniatura-de-video {
  display: inline-block;
  position: relative;
  vertical-align: top;
}

.titulo {
  width: 275px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

a {
  text-decoration: none;
}

.input {
  box-shadow: inset 0 1px 3px #ddd;
}

.input:focus {
  box-shadow: inset 0 0 2px rgba(67, 90, 111, 0.14), inset 0 0 0 1px #579ad9,
    0 0 0 3px rgba(16, 112, 202, 0.14);
  outline: 0;
  z-index: 2;
}

.fondo-de-foto {
  background-color: #ccc;
  width: 300px;
  height: 200px;
}

.captura {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.video {
  object-fit: contain;
  width: 100%;
  height: 100vh;
}

.min-w4 {
  min-width: 8rem;
}

.button {
  box-shadow: 0 2px 2px #ddd;
}

.button:active {
  transform: translateY(2px);
  box-shadow: 0 0 0;
}
