.play {
  position: absolute;
  left: 128px;
  top: 59px;
  font-size: 73px;
}

.miniatura-de-video {
  display: inline-block;
  position: relative;
  vertical-align: top;
}

.miniatura-de-video:hover {
  background-color: #ccc;
  color: black !important;
}

.titulo {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 300px;
}

a {
  text-decoration: none;
  color: gray;
}

.input {
  box-shadow: inset 0 1px 3px #ddd;
}

.input:focus {
  box-shadow: inset 0 0 2px rgba(67, 90, 111, 0.14), inset 0 0 0 1px #579ad9,
    0 0 0 3px rgba(16, 112, 202, 0.14);
  outline: 0;
  z-index: 2;
}

.fondo-de-foto {
  background-color: #ccc;
  width: 300px;
  height: 200px;
}

.captura {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.video {
  object-fit: contain;
  width: 100%;
  height: 100vh;
}

.min-w4 {
  min-width: 8rem;
}

.button {
  box-shadow: 0 2px 2px #ddd;
}

.button:active {
  transform: translateY(2px);
  box-shadow: 0 0 0;
}

.shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.w-100 {
  width: 100%;
}

.tc {
  text-align: center;
}

