.play {
  position: absolute;
  left: 128px;
  top: 59px;
  font-size: 73px;
}

.video {
  display: inline-block;
  position: relative;
  vertical-align: top;
}

.titulo {
  width: 275px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

a {
  text-decoration: none;
}
