<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Panflix</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/tachyons.min.css" />
    <link rel="stylesheet" href="/app.css" />
    <script src="/turbolinks.js" charset="utf-8"></script>
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon.ico?panflix=1">
  </head>
  <body>
    <div class="tc pa5-ns pa2 sans-serif">
      <img src="logo.png" width=348 height=119 alt="Logo" />

      <form action="/login" method="post">
        <div class="pa2">
          <div>
            <label class="dib w3 pa3" for="clave">Clave</label>
          </div>

          <div>
            <input type="password" style="display:none"/>
            <input autofocus class="{% if error %}shake{% endif %} input sans-serif pa2 br2 ba b--light-silver" type="password" name="clave" id="clave-panflix" value=""/>
          </div>

          <div class="pt2 red shake">
            {{error}} &nbsp;
          </div>

        </div>

        <div class="pa2 mt2">
          <button type="submit" class="bg-blue white hover-bg-dark-blue outline-0 ba bg-animate hover-b--dark-blue b--blue br2 pa2 min-w4 pointer button">Ingresar</button>
        </div>
      </form>
    </div>
  </body>
</html>
