<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Panflix</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/tachyons.min.css" />
    <link rel="stylesheet" href="/app.css" />
    <script src="/turbolinks.js" charset="utf-8"></script>
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon.ico?panflix=1"
    />
  </head>

  <body class="sans-serif ph3">
    <div class="pv2 sans-serif">
      <a href="/logout">Salir</a>
    </div>

    {% for nombre in directorios %}
    <a href="video/{{nombre}}" class="dib">
      <div class="miniatura-de-video pa2 shadow-hover br2 ma1">
        <div class="fondo-de-foto">
          <img src="/captura/{{nombre}}" class="captura" alt="" />
        </div>
        <div class="titulo">{{nombre}}</div>
      </div>
    </a>
    {% endfor %}
  </body>
</html>
