<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/tachyons.min.css">
    <link rel="stylesheet" href="/static/app.css">
  </head>
  <body class="sans-serif ph3">

    <h1>Videos</h1>

    <a href="reproducir.html?id=123123A">
    <div class="video">
      <div class="play">
        ▶
      </div>
      <img src="https://picsum.photos/300/200/?blur" alt="">
      <div class="titulo">
        Nombre de la pelicula aksdjask djaksdj aksjd kasjd kajsd kajsdkjasdkjasdkjasdk
      </div>
    </div>
  </a>

    <div class="video">
      <div class="play">
        ▶
      </div>
      <img src="https://picsum.photos/300/200/?blur" alt="">

      <div class="titulo">
        Nombre corto
      </div>
    </div>

  </body>
</html>
