<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8"/>
    <title>Panflix</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/tachyons.min.css"/>
    <link rel="stylesheet" href="/app.css"/>
    <script src="/turbolinks.js" charset="utf-8"></script>
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon.ico?panflix=1">
    <meta name="turbolinks-cache-control" content="no-cache">
  </head>

  <body class="bg-black">

    {% if existe_video %}
      <video class="video" controls autoplay>
        <source src="/video-stream/{{nombre}}" type="video/mp4">
        <track kind="captions" src="/video-subs/{{nombre}}" srclang="en" label="English" default>
      </video>
    {% else %}
      <div class="bg-white ma2 pa3 sans-serif">
        Error, no se encuentra el video de nombre <strong>{{ruta_al_video}}</strong>.
      </div>
    {% endif %}

  </body>
</html>
